
body,html {
    min-width: 320px;
    font-family:  Microsoft YaHei,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    font-size: 16px;
    max-width: 768px;
    margin: 0 auto;
}
*{
    outline: 0;
    margin:0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}
span em{
    font-style: normal;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.block{
    display: block;
}
.block-in{
    display: inline-block;
}
.clearfix:before {
    content: '';
    display: block;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
    zoom: 1;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: rgba(0,0,0,.87);
}
li {
    list-style: none;
}
.hidden{
    display: none;
}
.f7f7f7{
    background: #f7f7f7;
}
.pk-text-blue{
    color: #4a90e2;
}
.fx{
    display: flex
}
.fx-ag{
    display: flex;
    align-items: center
}
.fx-sk{
    flex-shrink: 0
}
.fx-fx{
    flex:1;
}
.pl10{
    padding-left:10px;
}
.pl14{
    padding-left:14px;
}
.mt20{
    margin-top: 20px;
}
.mt10{
    margin-top: 10px;
}
.mt4{
    margin-top: 4px;
}
.mb25{
    margin-bottom: 25px;
}
.fs12{
    font-size: 12px;
}
.fs14{
    font-size: 14px;
}
.bgfff{background: #fff}
/* 底部 */
.footer {
    position: relative;
    padding: 20px 25px 30px 25px;
    overflow: hidden;
}
.footer .text {
    position: relative;
    color: #323232;
    height: 88px;
}
.footer .text .tip {
    height: 14px;
    font-size: 14px;
    line-height: 1;
}
.footer .text .logo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 56%;
} 
.footer .text .tip span {
    display: block;
    font-size: 12px;
    height: 12px;
    line-height: 1;
    margin-top: 8px;
}